{% extends 'ident.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }
        body {

            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #F5F5F5;
        }
        .text-center {
            text-align: center;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}

{%  block title %}
    Вход
{% endblock %}

{% block body %}

    <body class="text-center">
    <form action="{{ path('login') }}" method="post" class="form-signin"></form>
        <h1 class="h3 mb-3 font-weight-normal">Войдите в свой аккаунт</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="username" class="sr-only">Email address</label>
        <input type="email"
               id="username"
               name="_username"
               value="{{ last_username }}"
               class="form-control"
               placeholder="Email address"
               required autofocus
        />

        <label for="password" class="sr-only">Пароль</label>
        <input type="password"
               id="password"
               name="_password"
               class="form-control"
               placeholder="Пароль"
               required
        />

        <input type="hidden" name="_target_path" value="/" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    </body>
{% endblock %}